* {
  margin: 0;
  padding: 0;
}

.top {
  flex-grow: 1;
  height: 3340px;
  background-color: #fbfbfb;
}

html, body {
  min-height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1181px;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header_top {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background-color: #ffffff;
}

.header_left_menu {
  width: 80px;
  height: 20px;
}
.header_left_menu_list {
  display: inline-block;
  width: 30px;
  height: 20px;
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  text-transform: uppercase;
}
.header_left_menu_list:hover {
  font-weight: 700;
}

.header_right_menu {
  width: 80px;
  height: 20px;
}
.header_right_menu_list {
  display: inline-block;
  width: 30px;
  height: 20px;
  color: #595959;
  font-size: 13px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  text-transform: uppercase;
}
.header_right_menu_list:hover {
  font-weight: 700;
}

.header_bottom {
  background-color: #fbfbfb;
}
.header_bottom_img {
  padding-right: 10px;
}
.header_bottom_left_1 {
  display: flex;
  padding-bottom: 20px;
}
.header_bottom_left_2 {
  display: flex;
  padding-bottom: 20px;
}
.header_bottom_text {
  color: #605f5f;
  font-size: 13px;
}
.header_bottom_button {
  border: none;
  background-color: #fbfbfb;
  width: 48px;
  height: 17px;
  padding-left: 4px;
}
.header_bottom_button_2 {
  width: 68px;
  border: none;
  background-color: #fbfbfb;
  height: 17px;
  padding-left: 4px;
}
.header_bottom_button_2:hover {
  background-color: #e1bc62;
}
.header_bottom_button:hover {
  background-color: #e1bc62;
}
.header_bottom_button_link {
  text-decoration: none;
  color: #605f5f;
  font-size: 12px;
}
.header_bottom_button_link:hover {
  color: #fbfbfb;
}
.header_bottom_content {
  display: flex;
}
.header_bottom_center {
  margin-top: -30px;
  margin-left: 225px;
}
.header_bottom_center_text {
  text-align: center;
}
.header_bottom_center_text_big {
  color: #ffff;
  font-size: 23px;
  font-weight: bold;
  line-height: 29.15px;
}
.header_bottom_center_text_small {
  color: #ffff;
  font-size: 8px;
  font-weight: 700;
  line-height: 11.66px;
}

.header_bottom_center_lines_1 {
  margin-top: -139px;
  margin-left: 37px;
}

.header_bottom_center_lines_2 {
  margin-top: -32px;
  margin-left: 116px;
}

.header_bottom_center_lines_3 {
  margin-top: 5px;
  margin-left: 117px;
}

.header_bottom_center_lines_4 {
  margin-top: -26px;
  margin-left: 38px;
}

.header_form {
  width: 276px;
  height: 42px;
  background-color: #fbfbfb;
  display: flex;
}
.header_form_button {
  background: url("img/search_icon.png") no-repeat center;
  border: none;
  outline: none;
  width: 55px;
  height: 44px;
  border-top: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-left: none;
}
.header_form_input {
  width: 100%;
  height: 42px;
  background: none;
  border-top: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-right: none;
  padding-left: 20px;
}

.header_table {
  border: 1px solid #dfdfdf;
  width: 433px;
  height: 135px;
  margin-left: 82px;
}
.header_table_tr_top {
  height: 50px;
  width: 70px;
}
.header_table_text_middle {
  position: relative;
  padding-left: 70px;
}
.header_table_img_middle {
  padding-right: 5px;
  position: absolute;
}
.header_table_tr_2 {
  height: 60px;
}
.header_table_tr_3 {
  height: 40px;
  text-align: center;
}
.header_table_tr_bottom_1 {
  background-color: #383739;
  color: #fbfbfb;
}
.header_table_tr_bottom_2 {
  background-color: #e1bc62;
  color: #fbfbfb;
}

.cart {
  position: absolute;
}

.ellipse_red {
  position: relative;
  padding-left: 9px;
}

.nav_menu {
  text-align: center;
  margin-top: 20px;
}
.nav_menu_list {
  display: inline-block;
  width: 75px;
  height: 30px;
}
.nav_menu_link {
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
}
.nav_menu_link:hover {
  font-weight: 700;
}

.main_line {
  width: 1181px;
  height: 5px;
  background-color: #e1bc62;
  margin-bottom: 20px;
}

.main_picture_content {
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
  grid-template-rows: 362px 297px;
  grid-gap: 18px;
  justify-content: center;
}

.product_1 {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.product_5 {
  position: relative;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 5;
}

.product_2 {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 4;
}

.product_3 {
  position: relative;
  grid-row-start: 1;
  grid-column-start: 4;
}

.product_4 {
  position: relative;
  grid-row-start: 2;
  grid-column-start: 2;
}

.product_1:hover .main_picture_1 {
  filter: brightness(50%);
}

.product_5:hover .main_picture_5 {
  filter: brightness(50%);
}

.product_2:hover .main_picture_2 {
  filter: brightness(50%);
}

.product_3:hover .main_picture_3 {
  filter: brightness(50%);
}

.product_4:hover .main_picture_4 {
  filter: brightness(50%);
}

.product_1:hover .button_see_product_1 {
  display: block;
}

.product_5:hover .button_see_product_5 {
  display: block;
}

.product_2:hover .button_see_product_2 {
  display: block;
}

.product_3:hover .button_see_product_3 {
  display: block;
}

.product_4:hover .button_see_product_4 {
  display: block;
}

.sale {
  position: absolute;
  z-index: 2;
  width: 59px;
  height: 38px;
  margin-top: -367px;
}
.sale_txt {
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  margin-top: -359px;
  position: absolute;
  letter-spacing: 6px;
  z-index: 3;
  transform: rotate(-33deg);
}

.button_see_product_1 {
  display: none;
  position: absolute;
  border: none;
  width: 180px;
  height: 45px;
  background-color: #e1bc62;
  margin-top: -196px;
  margin-left: 63px;
}
.button_see_product_1:hover {
  background-color: #898989;
}
.button_see_product_1_text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.button_see_product_2 {
  display: none;
  position: absolute;
  border: none;
  width: 180px;
  height: 45px;
  background-color: #e1bc62;
  margin-top: -204px;
  margin-left: 219px;
}
.button_see_product_2:hover {
  background-color: #898989;
}

.button_see_product_3 {
  display: none;
  position: absolute;
  border: none;
  width: 180px;
  height: 45px;
  background-color: #e1bc62;
  margin-top: -190px;
  margin-left: 55px;
}
.button_see_product_3:hover {
  background-color: #898989;
}

.button_see_product_4 {
  display: none;
  position: absolute;
  border: none;
  width: 180px;
  height: 45px;
  background-color: #e1bc62;
  margin-top: -162px;
  margin-left: 60px;
}
.button_see_product_4:hover {
  background-color: #898989;
}

.button_see_product_5 {
  display: none;
  position: absolute;
  border: none;
  width: 180px;
  height: 45px;
  background-color: #e1bc62;
  margin-top: -151px;
  margin-left: 205px;
}
.button_see_product_5:hover {
  background-color: #898989;
}

.main_menu {
  display: flex;
  justify-content: center;
  padding-top: 85px;
}
.main_menu_summary {
  color: #1a1a1a;
  font-size: 48px;
  font-weight: 700;
  width: 260px;
  height: 63px;
  position: relative;
  display: block;
  border-right: 2px solid #d6d6d6;
}
.main_menu_summary_2 {
  color: #595959;
  font-size: 48px;
  font-weight: 300;
  display: block;
  width: 260px;
  height: 63px;
  text-align: right;
}
.main_menu_ul, .main_menu_ul_2 {
  position: absolute;
}

.main_menu_summary::-webkit-details-marker {
  display: none;
}

.summary_list, .summary_list_2 {
  list-style-type: none;
  width: 258px;
  height: 40px;
}

.summary_list_2 {
  text-align: right;
}

.summary_link, .summary_link_2 {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 700;
  line-height: 29px;
}
.summary_link:hover, .summary_link_2:hover {
  color: #28c8c6;
}

.main_menu-text {
  padding-top: 30px;
  text-align: center;
}
.main_menu-text_small {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 56px;
}

.main_picture_part_2 {
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
  grid-template-rows: 424px 424px;
  grid-gap: 13px;
  justify-content: center;
}

.picture {
  height: 296px;
  position: relative;
}

.main_picture {
  position: relative;
}
.main_picture:hover .picture, .main_picture .main_picture_text {
  z-index: 6;
}
.main_picture:hover .details {
  display: block;
  z-index: 6;
}

.main_picture:hover .details_effect {
  display: block;
}

.details_effect {
  display: none;
  width: 285px;
  text-align: center;
  position: absolute;
}
.details_effect_text {
  width: 64px;
  height: 15px;
  background-color: #383739;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  border-radius: 6px;
  margin-left: 110px;
  margin-top: 5px;
}
.details_effect_text_small {
  color: #cccccc;
  font-size: 12px;
  font-weight: 400;
  padding-left: 5px;
}
.details_effect_wishlist {
  display: flex;
  justify-content: center;
}
.details_effect_button {
  width: 184px;
  height: 32px;
  background-color: #e1bc62;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: none;
  margin-bottom: 15px;
  margin-top: 90px;
}

.details {
  display: none;
  width: 295px;
  height: 508px;
  border: 2px solid #000000;
  background-color: #e1bc62;
  position: absolute;
  margin-left: -7px;
  margin-top: -17px;
}

.main_picture_img {
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 279px;
}

.main_picture_text {
  width: 285px;
  height: 182px;
  background-color: #ffffff;
  z-index: 7;
  position: relative;
}

.main_picture_text_big {
  padding-top: 50px;
  text-align: center;
  color: #595959;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.main_picture_text_small {
  text-align: center;
  color: #595959;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.main_picture_under {
  width: 45px;
  height: 2px;
  background-color: #cdcdcd;
  margin-left: 121px;
  z-index: 2;
  margin-top: 5px;
}

.load_more_text {
  color: #595959;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 88px;
  margin-left: 466px;
  height: 85px;
  width: 270px;
}

.price {
  text-decoration: line-through;
}

footer {
  height: 200px;
  background-color: pink;
}

/*# sourceMappingURL=style.css.map */
