*
  margin: 0
  padding: 0

.top
  flex-grow: 1
  height: 3340px
  background-color: #fbfbfb
html, body
  min-height: 100%
  font-family: 'Source Sans Pro', sans-serif

.container
  margin: 0 auto
  width: 1181px
.content
  min-height: 100%
  display: flex
  flex-direction: column

.header_top
  display: flex
  justify-content: space-between
  height: 65px
  background-color: #ffffff
.header_left_menu
  width: 80px
  height: 20px
  &_list
   display: inline-block
   width: 30px
   height: 20px
   color: #595959
   font-size: 13px
   font-weight: 400
   line-height: 12px
   text-align: left
   text-transform: uppercase
   &:hover
    font-weight: 700

.header_right_menu
   width: 80px
   height: 20px
   &_list
    display: inline-block
    width: 30px
    height: 20px
    color: #595959
    font-size: 13px
    font-weight: 400
    line-height: 12px
    text-align: left
    text-transform: uppercase
    &:hover
     font-weight: 700

.header_bottom
  background-color: #fbfbfb
  &_img
   padding-right: 10px
  &_left_1
   display: flex
   padding-bottom: 20px
  &_left_2
   display: flex
   padding-bottom: 20px
  &_text
   color: #605f5f
   font-size: 13px
  &_button
   border: none
   background-color: #fbfbfb
   width: 48px
   height: 17px
   padding-left: 4px
   &_2
    width: 68px
    border: none
    background-color: #fbfbfb
    height: 17px
    padding-left: 4px
    &:hover
     background-color: #e1bc62
   &:hover
    background-color: #e1bc62
   &_link
    text-decoration: none
    color: #605f5f
    font-size: 12px
    &:hover
     color: #fbfbfb
  &_content
   display: flex
  &_center
   margin-top: -30px
   margin-left: 225px
   &_text
    text-align: center
    &_big
     color: #ffff
     font-size: 23px
     font-weight: bold
     line-height: 29.15px
    &_small
     color: #ffff
     font-size: 8px
     font-weight: 700
     line-height: 11.66px
.header_bottom_center_lines_1
  margin-top: -139px
  margin-left: 37px
.header_bottom_center_lines_2
  margin-top: -32px
  margin-left: 116px
.header_bottom_center_lines_3
  margin-top: 5px
  margin-left: 117px
.header_bottom_center_lines_4
  margin-top: -26px
  margin-left: 38px
.header_form
  width: 276px
  height: 42px
  background-color: #fbfbfb
  display: flex
  &_button
   background: url("img/search_icon.png") no-repeat center
   border: none
   outline: none
   width: 55px
   height: 44px
   border-top: solid 1px #dddddd
   border-right: solid 1px #dddddd
   border-bottom: solid 1px #dddddd
   border-left: none
  &_input
   width: 100%
   height: 42px
   background: none
   border-top: solid 1px #dddddd
   border-left: solid 1px #dddddd
   border-bottom: solid 1px #dddddd
   border-right: none
   padding-left: 20px

.header_table
  border: 1px solid #dfdfdf
  width: 433px
  height: 135px
  margin-left: 82px
  &_tr_top
   height: 50px
   width: 70px
  &_text_middle
   position: relative
   padding-left: 70px
  &_img_middle
   padding-right: 5px
   position: absolute
  &_tr_2
   height: 60px
  &_tr_3
   height: 40px
   text-align: center
  &_tr_bottom_1
   background-color: #383739
   color: #fbfbfb
  &_tr_bottom_2
   background-color: #e1bc62
   color: #fbfbfb
.cart
  position: absolute
.ellipse_red
  position: relative
  padding-left: 9px

.nav_menu
  text-align: center
  margin-top: 20px
  &_list
   display: inline-block
   width: 75px
   height: 30px
  &_link
   text-decoration: none
   color: #444444
   font-size: 14px
   font-weight: 400
   &:hover
    font-weight: 700
.main_line
  width: 1181px
  height: 5px
  background-color: #e1bc62
  margin-bottom: 20px

.main_picture_content
  display: grid
  grid-template-columns: 290px 290px 290px 290px
  grid-template-rows: 362px 297px
  grid-gap: 18px
  justify-content: center

.product_1
   position: relative
   grid-row-start: 1
   grid-row-end: 3
   grid-column-start: 1
   grid-column-end: 2
.product_5
   position: relative
   grid-row-start: 2
   grid-column-start: 3
   grid-column-end: 5
.product_2
  position: relative
  grid-row-start: 1
  grid-row-end: 1
  grid-column-start: 2
  grid-column-end: 4
.product_3
  position: relative
  grid-row-start: 1
  grid-column-start: 4
.product_4
  position: relative
  grid-row-start: 2
  grid-column-start: 2

.product_1:hover .main_picture_1
  filter: brightness(50%)
.product_5:hover .main_picture_5
  filter: brightness(50%)
.product_2:hover .main_picture_2
  filter: brightness(50%)
.product_3:hover .main_picture_3
  filter: brightness(50%)
.product_4:hover .main_picture_4
  filter: brightness(50%)

.product_1:hover .button_see_product_1
  display: block
.product_5:hover .button_see_product_5
  display: block
.product_2:hover .button_see_product_2
  display: block
.product_3:hover .button_see_product_3
  display: block
.product_4:hover .button_see_product_4
  display: block

.sale
  position: absolute
  z-index: 2
  width: 59px
  height: 38px
  margin-top: -367px
  &_txt
   color: #ffffff
   font-size: 10px
   font-weight: 400
   margin-top: -359px
   position: absolute
   letter-spacing: 6px
   z-index: 3
   transform: rotate(-33deg)

.button_see_product_1
  display: none
  position: absolute
  border: none
  width: 180px
  height: 45px
  background-color: #e1bc62
  margin-top: -196px
  margin-left: 63px
  &:hover
   background-color: #898989
  &_text
   color: #ffffff
   font-size: 14px
   font-weight: 700
.button_see_product_2
  display: none
  position: absolute
  border: none
  width: 180px
  height: 45px
  background-color: #e1bc62
  margin-top: -204px
  margin-left: 219px
  &:hover
   background-color: #898989
.button_see_product_3
  display: none
  position: absolute
  border: none
  width: 180px
  height: 45px
  background-color: #e1bc62
  margin-top: -190px
  margin-left: 55px
  &:hover
   background-color: #898989
.button_see_product_4
  display: none
  position: absolute
  border: none
  width: 180px
  height: 45px
  background-color: #e1bc62
  margin-top: -162px
  margin-left: 60px
  &:hover
   background-color: #898989
.button_see_product_5
  display: none
  position: absolute
  border: none
  width: 180px
  height: 45px
  background-color: #e1bc62
  margin-top: -151px
  margin-left: 205px
  &:hover
   background-color: #898989

.main_menu
  display: flex
  justify-content: center
  padding-top: 85px
  &_summary
   color: #1a1a1a
   font-size: 48px
   font-weight: 700
   width: 260px
   height: 63px
   position: relative
   display: block
   border-right: 2px solid #d6d6d6
   &_2
    color: #595959
    font-size: 48px
    font-weight: 300
    display: block
    width: 260px
    height: 63px
    text-align: right
  &_ul, &_ul_2
   position: absolute

.main_menu_summary::-webkit-details-marker
  display: none

.summary_list, .summary_list_2
  list-style-type: none
  width: 258px
  height: 40px
.summary_list_2
  text-align: right

.summary_link, .summary_link_2
  text-decoration: none
  color: #1a1a1a
  font-size: 14px
  font-weight: 700
  line-height: 29px
  &:hover
   color: #28c8c6

.main_menu-text
  padding-top: 30px
  text-align: center
  &_small
   color: #595959
   font-size: 14px
   font-weight: 400
   font-style: italic
   margin-bottom: 56px

.main_picture_part_2
  display: grid
  grid-template-columns: 290px 290px 290px 290px
  grid-template-rows: 424px 424px
  grid-gap: 13px
  justify-content: center
.picture
  height: 296px
  position: relative
.main_picture
  position: relative
  &:hover .picture, .main_picture_text
   z-index: 7
  &:hover .details
   display: block
   z-index: 6



.details
  display: none
  width: 295px
  height: 508px
  border: 2px solid #000000
  background-color: #e1bc62
  position: absolute
  margin-left: -7px
  margin-top: -17px


.main_picture_img
  height: auto
  width: auto
  max-height: 300px
  max-width: 279px

.main_picture_text
  width: 285px
  height: 124px
  background-color: #ffffff
  z-index: 7
  position: absolute


.main_picture_text_big
  padding-top: 50px
  text-align: center
  color: #595959
  font-size: 18px
  font-weight: 700
  line-height: 24px
.main_picture_text_small
  text-align: center
  color: #595959
  font-size: 18px
  font-weight: 300
  line-height: 24px
.main_picture_under
  width: 45px
  height: 2px
  background-color: #cdcdcd
  margin-left: 121px
  z-index: 2
  margin-top: 5px
.load_more_text
  color: #595959
  font-size: 24px
  font-weight: 300
  line-height: 24px
  padding-top: 62px
  margin-left: 466px
  height: 184px
  width: 270px
.price
  text-decoration: line-through
footer
  height: 200px
  background-color: pink